@font-face {
	font-family: 'GeoSans';
	src: url(fonts/geo_sans_light/GeosansLight.ttf);
}

.title {
	font-family: 'GeoSans', sans-serif;
	font-size: 65px;
}

.tagline {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	color: grey;
    margin-left: 5px;
}

.subtitle {
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	border-bottom: medium solid grey;
}

.info {
	font-family: 'Coming Soon', cursive;
	font-size: 20px;
	color:grey;
}

.info span {
	top:-2px;
}

.about {
	font-family: 'Anaheim', sans-serif;
	font-size: 21px;
}

.section-content {
	font-family: 'Anaheim', sans-serif;
	font-size: 19px;
}

.section-title {
	font-family: 'Open Sans Condensed', sans-serif;
	color: grey;
	font-size: 21px;
}

.section-subtitle {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 17px;
	font-weight: bolder;
}

.vline {
	border-right: thin solid grey;
	padding-right: 5px;
}

.circle {
	width: 25px;
	height: 25px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float:left;
	margin-right: 50px;
}

.black {
	background:black;
}

.grey {
	background:#f0f0f0; 
}

.padded {
	padding-bottom:8px;
}

.container {
	width: 1200px !important;
}